.header__dicoration {
    background-color: hsl(183, 52%, 53%);
    color: white;
    text-align: center;
    padding: 20px 0px;
}

.header {
    padding: 20px 0px;

    .header__content {
        display: flex;
        align-items: center;
        gap: 650px;
        

        .header__logo {
            width: 40px;
        }

        .header__navbar {
            display: flex;
            align-items: center;
            gap: 30px;

            .header__list {
                display: flex;
                align-items: center;
                gap: 30px;

                .header__link {
                    color: #000;

                    &:hover {
                        color: hsl(183, 52%, 53%);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .header__dicoration {
        display: none;
    }
    .header {
        padding: 10px 400px;

        .header__content {
            gap: 150px;
    
            .header__navbar {

                .header__link {
                    display: none;
                }

                .hamburger__menu {
                    width: 40px;
                    border: 2px solid black;
                    border-radius: 3px;
                    margin: 20px;
        
                    p {
                        height: 3px;
                        background-color: #000;
                        margin: 5px;
                    }
                }
            }
        }
    }
}